.navbar {
  background-image: linear-gradient(to bottom,#7224a7 0,#441562 100%);
  border-radius: 0;
}

a.navbar-brand {
  text-decoration: none
}

.nav a:active, .nav a:visited {
  color: #ffffff !important;
  background-color: #fff !important;
}

.images-section {
  margin-top: 7vh;
}

.add-btn, .add-btn:hover, .add-btn:active, .add-btn:focus{
  background-image: linear-gradient(to bottom,#7224a7 0,#441562 100%);
  height: 50px;
  width: 50px;
  border-radius: 25px;
  color: #fff;
  position: fixed;
    bottom: 2vh;
    right: 3vw;
    outline: none;
}

@media (min-width: 768px) {
  
}

@media (max-width: 767px) {

}
